<%- include ('partials/navBar') %>

  <div class="container mt-5">
    <div class="alert alert-danger text-center" role="alert">
      <h3>
        <%= statusCode %>
      </h3>
      <p class="lead">
        <%= error %>
      </p>
    </div>
  </div>

  <%- include('partials/footer') %>