<nav class="col-md-3 d-flex flex-column p-3">
  <div class="mb-4 d-flex flex-column align-items-center align-items-md-start">
    <h3>Utilisateurs</h3>
    <a href="/admin/users/pending" class="d-block mb-2 text-decoration-none nav-link hover-link-sidebar">
      En attente de
      validation
    </a>
    <a href="/admin/users" class="d-block mb-2 text-decoration-none nav-link hover-link-sidebar">
      Tous les
      utilisateurs
    </a>
    <a href="/admin/users/banished" class="d-block mb-2 text-decoration-none nav-link hover-link-sidebar">Utilisateurs
      bannis</a>
  </div>
  <div class="d-flex flex-column align-items-center align-items-md-start">
    <h3>Événements</h3>
    <a href="/admin/events" class="d-block mb-2 text-decoration-none nav-link hover-link-sidebar">Liste</a>
    <a href="/admin/events/create" class="d-block text-decoration-none nav-link hover-link-sidebar">Créer</a>
  </div>
</nav>