# HTTP serveur
PORT=4000

# Postgres Database URL
PG_URL=postgres://user:password@localhost:5432/database

# Postgres Database name
DB_NAME= 'databaseName'

# Postgres Database user name
DB_USER= "databaseUser"

#private token key
TOKEN_KEY = 'secretKey'

#cors
ALLOWED_DOMAINS='*'

CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
