.svg-hover:hover .svg-image {
  /* Change image to white */
  filter: brightness(0) invert(1);
}

.event-img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin-top: 1rem;
}

.hover-link-sidebar {
  color: #1a1a1a;
}

.hover-link-sidebar:hover {
  color: #e04c71;
}

.custom-table {
  font-size: 0.75rem;
}

.svg-image {
  width: 16px;
  height: auto;
}

.active-link {
  font-weight: 600;
  color: #fd0901;
  font-style: oblique;
}

@media (min-width: 576px) {
  .custom-table {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .svg-image {
    width: 1rem;
  }
  .buttons_container .btn {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
  }
  .custom-div {
    max-width: 13rem;
  }
}

@media (min-width: 992px) {
  .svg-image {
    width: 2rem;
  }
  .custom-div {
    max-width: fit-content;
  }
}
