# Set the default behavior to automatically normalize line endings.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.jpg binary
*.png binary
*.gif binary
*.pdf binary
*.doc binary
*.docx binary
